{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

<h2>Customers</h2>

{% if is_admin %}
<a href="{% url 'add-customer' %}"
class="btn btn-primary">
Add Customer
</a>
{% endif %}

</div>

<table class="table table-hover bg-white">

<thead class="table-dark">

<tr>

<th>Name</th>
<th>Email</th>
<th>Company</th>
<th>Status</th>
<th>Phone</th>
<th>Status</th>
{% if is_admin %}
<th>Actions</th>
{% endif %}
</tr>

</thead>

<tbody>

{% for customer in customers %}

<tr>

<td><a href="{% url 'customer-profile' customer.id %}">{{ customer.name }}</a></td>
<td>{{customer.company}}</td>
<td>{{customer.city}}</td>
<td>{{ customer.email }}</td>
<td>{{ customer.phone }}</td>
<td>{{ customer.status }}</td>

{% if is_admin %}
<td>
<a href="{% url 'update-customer' customer.id %}"
class="btn btn-warning btn-sm">
Edit
</a>

<a href="{% url 'delete-customer' customer.id %}"
class="btn btn-danger btn-sm">
Delete
</a>
</td>
{% endif %}

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}