{% extends 'base.html' %}

{% block content %}

    <div class="card">

        <div class="card-body text-center">

            <h3>
            Delete Lead?
            </h3>

            <p>
            {{ lead.customer }}
            </p>

            <form method="POST">

                {% csrf_token %}

                <button class="btn btn-outline-danger">
                Delete
                </button>
                
                <a class="btn btn-outline-secondary" href={% url 'lead-list' %}>Cancel</a>

            </form>

        </div>

    </div>

{% endblock %}